<div class="container__notaccess">
    <div class="container__notaccess-subcontainer">
        <h1 class="container__notaccess-title">You do not have permission to enter here</h1>
        <a class="container__notaccess-link" href="/products">Go To Products</a>
    </div>
</div>