<div class="container__formProduct">
  <div class="container__formProduct-bg">
    <div class="container__info">
      <h1 class="container__info-title">add cars to your inventory</h1>
    </div>
    <form id="formProduct">
      <div class="container__info-label">
        <label>Model</label>
        <input class="container__info-inputs" type="text" name="model" />
      </div>
      <div class="container__info-label">
        <label>Characteristics</label>
        <textarea class="container__info-inputs" type="text" name="characteristics"></textarea>
      </div>
      <div class="container__info-label">
        <label>Stock</label>
        <input class="container__info-inputs" type="text" name="stock" />
      </div>
      <div class="container__info-label">
        <label>Price</label>
        <input class="container__info-inputs" type="text" name="price" />
      </div>
      <div class="container__info-label">
        <label>Image</label>
        <input type="text" name="image"/>
      </div>
      <div>
        <button class="btnadd" type="submit">Send</button>
      </div>
    </form>
    <div class="container__info-products">
       <a class="btnaddP" href="/products">Go To Store</a>
    </div>
  </div>
</div>
<script src="./js/createProduct.js"></script>