<div class="Form__login-container">
  <div class="Form__login-subContainer">
        <div class="Form__login">
          <h1 class="Form__login-title">JDM Login</h1>
          <img class="Form__login-icon" src="/icons/japon.png" alt="" />
        </div>

        <form id="loginForm" class="Form__login-inputsContainer">
            <div class="Form__login-label circle-top">
                <label>Email</label>
                <input class="Form__login-input" type="text" name="email" />
            </div>
            <div class="Form__login-label circle-botton">
                <label>Password</label>
                <input class="Form__login-input" type="password" name="password" />
            </div>
            <div class="Form__login-btn">
              <button class="btn" type="submit">Send</button>
            </div>
        </form>
        <div class="register__container">
            <a class="register__link" href="http://localhost:8080/register">or register Here!</a>
        </div>
  </div>
</div>

<script src="./js/login.js"></script>