<div class="container__notlogin">
    <div class="container__notlogin-subcontainer">
        <h1 class="container__notlogin-title">Login to view content</h1>
        <a class="container__notlogin-link" href="/">Go to login</a>
    </div>
</div>