<div class="Form__register-container">
  <div class="Form__register-subContainer">
    <div class="Form__login">
      <h1 class="Form__login-title">Register JDM</h1>
      <img class="Form__login-icon" src="/icons/japon.png" alt="" />
    </div>
    <form id="registerForm" class="Form__register">
      <div class="Form__register-label">
        <label class="Form__register-labelText">First Name</label>
        <input type="text" name="first_name" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Last Name</label>
        <input type="text" name="last_name" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Email</label>
        <input type="email" name="email" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Age</label>
        <input type="text" name="age" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Phone Number</label>
        <input type="text" name="phone_number" />
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Address</label>
        <input type="text" name="address"/>
      </div>
      <div class="Form__register-label">
        <label class="Form__register-labelText">Avatar</label>
        <input type="file" name="image"/>
      </div>
      <div>
            <button class="btn" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/register.js"></script>