<div class="link__notfound">
  <div class="link__notfound-bg">
    <h1 class="link__notfound-title">Non-Existent Route</h1>
    <a class="link__notfound-redirect" href="/">Go To login</a>
  </div>
</div>